/* .after-body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(229, 226, 226);
  z-index: 1;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background: #fff;
}

.burger-logo > ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: inline;
  width: auto;
  margin: auto;
}

.headline-wrapper {
  /* height: 440px; */
  background-image: url(img/mobile-bg.png);
  background-size: cover;
  opacity: 0.9;
}

.headline {
  margin-top: 15px;
  padding-left: 30px;
  padding-right: 15px;
}

.headline > p > img {
  width: 100%;
  margin-top: 45px;
}

.headline-text {
  text-align: justify;
  border: 4px solid rgb(255, 255, 255);
  background-color: rgb(247, 247, 248);
  font-size: 1.125em;
  margin-top: 20px;
  margin-bottom: 20px;
}

.venu-text {
  text-align: center;
  padding-top: 15px;
}

.venu-div {
  margin-bottom: 80px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main-section {
  background-image: url(img/main-pattern.png);
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(39, 42, 50);
}

.main-section-items {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  align-items: center;
  justify-content: center;
  text-align: left;
  column-gap: 10px;
}

.main-section-items li:last-child {
  grid: 3 / 4;
  width: 100%;
  font-size: 14px;
}

.main-section-items li {
  font-size: 16px;
  font-weight: 900;
}

.main-section-item-divs {
  background-color: rgba(255, 255, 255, 0.1);
  margin: 0px 0px 0.5em;
  padding: 16px 16px;
  vertical-align: middle;
  width: 100%;
}

.main-section-h {
  margin: 40px;
}

.red-underline {
  height: 1px;
  width: 50px;
  background-color: rgb(236, 82, 66);
  border-radius: 10px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.display {
  display: none;
}


@media only screen and (min-width: 600px) {
  .display{
    display: block;
  }
  .burger-logo{
    display: none;
  }
  .social-icon-wrapper {
    height: 36px;
    background-color: rgb(62, 62, 62);
    text-align: right;
    line-height: 36px;
    vertical-align: middle;
  }

  .social-icons > ul > li {
  display: inline;
  padding-left: 10px;
}

.social-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10%;
  /* margin-top: 5px;  */

}

a:link {
  color: whitesmoke;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: whitesmoke;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(16, 116, 111);
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

nav > ul > li > a:visited {
color: black;
}

.nav-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
}
.col1 {
  grid-column: 2 / 3;
}

.col2 {
  grid-column: 4 /5;
}

.col3 {
  grid-column: 5/6;
}

.col4{
  grid-column: 6 / 7;
}
.col5 {
  grid-column: 7 / 8;
}

.col6{
  grid-column: 8 / 9;
}
.col7 {
  grid-column: 11 / 13;
}





  .desktop-div {
    display: grid;
    grid-template-columns: 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr;
    /* grid-template-columns: 200px 200px 200px 200px 200px; */
  }
 
  .main-section-item-divs{
    grid-column: 1/2;
  }
  .grid-col2{
    grid-column: 2/3;
  }
  .grid-col3{
    grid-column: 3/4;
  }
  .grid-col4{
    grid-column: 4/5;
  }
  .grid-col5{
    grid-column: 5/6;
  }
  .main-section-item-divs {
    margin: 0 0 0 3px;
    width: auto;
     padding: 10px 3px;
  }
  .main-section-item-divs > ul {
    display: flex;
  }
  .main-section-items{
    display: flex;
    flex-direction: column;
    gap: 10px;
   
  }


}